div.log{
    background-color: #ffb6c1;
    text-align: justify;
    margin: auto;
    border-radius: 25px;
    height:fit-content;
    width: fit-content;
    padding: 10px 30px;

    border: 3px solid black;
}
h1{   margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    background-color: #e63e62 ;
    font-size: 50px;    text-align: center;  
    border-radius: 20px;
    padding: 10px 10px;
    height: auto;
    width: fit-content;
   
}
    input[type=text], input[type=password],input[type=email] {
    width: 100%;
    font-size: 16px;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #83597a;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  input[type=button] {
    background-color: #e0218a;
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }